<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Enter Your Email"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="!emailInput.valid"
        >Please Enter A Valid E-mail!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        ngModel
        placeholder="Password"
        name="password"
        #passwordInput="ngModel"
      />
      <mat-error>Please Enter A Valid Password!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
